In [1]:
import pandas as pd
import numpy as np
import requests
import json

In [43]:
url = 'https://opendata.arcgis.com/datasets/17eb563791b648f9a7025ca408bb09c6_0.csv'

df = pd.read_csv(url)
df = df[df['LAD18CD'].str.contains("E")]
df

       LAD18CD         LAD18NM LAD18NMW  FID
0    E07000140   South Holland      NaN    1
2    E07000141  South Kesteven      NaN    3
3    E07000142    West Lindsey      NaN    4
4    E07000143       Breckland      NaN    5
7    E07000144       Broadland      NaN    8
..         ...             ...      ...  ...
376  E09000029          Sutton      NaN  377
377  E09000030   Tower Hamlets      NaN  378
378  E09000031  Waltham Forest      NaN  379
379  E09000032      Wandsworth      NaN  380
380  E09000033     Westminster      NaN  381

[326 rows x 4 columns]

In [44]:
# NOMIS API - Population estimates - local authority based by five year age band
url = 'https://www.nomisweb.co.uk/api/v01/dataset/NM_31_1.data.csv?geography=1811939329...1811939332,1811939334...1811939336,1811939338...1811939428,1811939436...1811939442,1811939768,1811939769,1811939443...1811939497,1811939499...1811939501,1811939503,1811939505...1811939507,1811939509...1811939517,1811939519,1811939520,1811939524...1811939570,1811939575...1811939599,1811939601...1811939628,1811939630...1811939634,1811939636...1811939647,1811939649,1811939655...1811939664,1811939667...1811939680,1811939682,1811939683,1811939685,1811939687...1811939704,1811939707,1811939708,1811939710,1811939712...1811939717,1811939719,1811939720,1811939722...1811939730,1811939757...1811939767,1807745025...1807745028,1807745030...1807745032,1807745034...1807745083,1807745085,1807745282,1807745283,1807745086...1807745155,1807745157...1807745164,1807745166...1807745170,1807745172...1807745177,1807745179...1807745194,1807745196,1807745197,1807745199,1807745201...1807745218,1807745221,1807745222,1807745224,1807745226...1807745231,1807745233,1807745234,1807745236...1807745244,1807745271...1807745281,1853882369...1853882372,1853882374...1853882379&date=latest&sex=7&age=0,22,25&measures=20100,20301'

df_population = pd.read_csv(url)

In [45]:
df_population = df_population[['DATE','GEOGRAPHY_NAME','GEOGRAPHY_CODE','GEOGRAPHY_TYPE','AGE_NAME','MEASURES_NAME','OBS_VALUE']]
df_population = df_population[df_population['GEOGRAPHY_CODE'].str.contains("E")]
df_population_pivot = df_population.pivot_table(index=['GEOGRAPHY_CODE'], 
                    columns=['AGE_NAME','MEASURES_NAME'], 
                    values='OBS_VALUE').reset_index()
df_population_pivot.columns = df_population_pivot.columns.map('|'.join).str.strip('|')
df_population_pivot

,GEOGRAPHY_CODE,Aged 16 - 64|Percent,Aged 16 - 64|Value,Aged 65 and over|Percent,Aged 65 and over|Value,All ages|Percent,All ages|Value
0,E06000001,61.4,57500.0,19.4,18200.0,100.0,93700.0
1,E06000002,62.5,88200.0,16.4,23100.0,100.0,141000.0
2,E06000003,59.3,81300.0,22.6,31000.0,100.0,137200.0
3,E06000004,61.6,121500.0,18.5,36400.0,100.0,197300.0
4,E06000005,60.6,64700.0,20.5,21900.0,100.0,106800.0
...,...,...,...,...,...,...,...
338,E47000007,63.0,1845300.0,15.5,454200.0,100.0,2928600.0
339,E47000008,62.0,530600.0,18.1,155300.0,100.0,855800.0
340,E47000009,65.8,619400.0,16.0,150700.0,100.0,941800.0
341,E47000010,62.3,722700.0,20.3,235600.0,100.0,1160800.0
342,E47000011,63.0,524800.0,19.9,165700.0,100.0,833200.0

In [66]:
# NOMIS - annual population survey
url = 'https://www.nomisweb.co.uk/api/v01/dataset/NM_17_5.data.csv?geography=1853882369...1853882372,1853882374...1853882379,1807745025...1807745028,1807745030...1807745032,1807745034...1807745083,1807745085,1807745282,1807745283,1807745086...1807745155,1807745157...1807745164,1807745166...1807745170,1807745172...1807745177,1807745179...1807745194,1807745196,1807745197,1807745199,1807745201...1807745218,1807745221,1807745222,1807745224,1807745226...1807745231,1807745233,1807745234,1807745236...1807745244,1811939329...1811939332,1811939334...1811939336,1811939338...1811939428,1811939436...1811939442,1811939768,1811939769,1811939443...1811939497,1811939499...1811939501,1811939503,1811939505...1811939507,1811939509...1811939517,1811939519,1811939520,1811939524...1811939570,1811939575...1811939599,1811939601...1811939628,1811939630...1811939634,1811939636...1811939647,1811939649,1811939655...1811939664,1811939667...1811939680,1811939682,1811939683,1811939685,1811939687...1811939704,1811939707,1811939708,1811939710,1811939712...1811939717,1811939719,1811939720,1811939722...1811939730&date=latestMINUS4&variable=18,45,248,249,84,83,111,1487,1488,1532...1540,290,720...722,335,344&measures=20599,21001,21002,21003'

df_survey = pd.read_csv(url)

In [64]:
df_survey = df_survey[['DATE','GEOGRAPHY_NAME','GEOGRAPHY_CODE','GEOGRAPHY_TYPE','MEASURES_NAME','VARIABLE_NAME','OBS_VALUE']]
df_survey = df_survey[df_survey['GEOGRAPHY_CODE'].str.contains("E")]
df_survey_pivot = df_survey.pivot_table(index=['GEOGRAPHY_CODE'], 
                    columns=['VARIABLE_NAME','MEASURES_NAME'], 
                    values='OBS_VALUE').reset_index()
df_survey_pivot.columns = df_survey_pivot.columns.map('|'.join).str.strip('|')
df_survey_pivot

,GEOGRAPHY_CODE,% aged 16-64 who are employees|Confidence,% aged 16-64 who are employees|Denominator,% aged 16-64 who are employees|Numerator,% aged 16-64 who are employees|Variable,% aged 16-64 who are self employed|Confidence,% aged 16-64 who are self employed|Denominator,% aged 16-64 who are self employed|Numerator,% aged 16-64 who are self employed|Variable,"% all in employment who are - 1: managers, directors and senior officials (SOC2010)|Confidence",...,Employment rate - aged 16-64|Numerator,Employment rate - aged 16-64|Variable,Unemployment rate - aged 16+|Confidence,Unemployment rate - aged 16+|Denominator,Unemployment rate - aged 16+|Numerator,Unemployment rate - aged 16+|Variable,Unemployment rate - aged 16-64 |Confidence,Unemployment rate - aged 16-64 |Denominator,Unemployment rate - aged 16-64 |Numerator,Unemployment rate - aged 16-64 |Variable
0,E06000001,3.3,56300.0,33700.0,59.8,1.8,56300.0,4400.0,7.8,1.9,...,38100.0,67.6,2.1,42700.0,3300.0,7.7,2.1,41200.0,3100.0,7.6
1,E06000002,3.2,88400.0,48200.0,54.6,1.8,88400.0,7300.0,8.3,1.7,...,55600.0,62.9,2.0,61500.0,4500.0,7.3,2.0,60100.0,4500.0,7.5
2,E06000003,3.3,80500.0,48700.0,60.5,1.7,80500.0,5500.0,6.8,2.2,...,54300.0,67.4,1.8,59200.0,3200.0,5.4,1.8,57500.0,3200.0,5.5
3,E06000004,3.4,120600.0,76900.0,63.8,1.8,120600.0,8800.0,7.3,2.3,...,86000.0,71.3,1.8,94500.0,5500.0,5.8,1.9,91500.0,5500.0,6.0
4,E06000005,3.1,63600.0,41400.0,65.0,1.8,63600.0,5600.0,8.8,2.0,...,47200.0,74.2,1.7,52000.0,3300.0,6.3,1.8,50500.0,3300.0,6.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,E47000007,1.2,1835700.0,1110600.0,60.5,0.7,1835700.0,156300.0,8.5,0.8,...,1268900.0,69.1,0.7,1396600.0,92700.0,6.6,0.7,1361200.0,92300.0,6.8
174,E47000008,2.2,525900.0,363300.0,69.1,1.4,525900.0,49700.0,9.4,1.7,...,413100.0,78.5,0.9,444200.0,15000.0,3.4,1.0,427600.0,14500.0,3.4
175,E47000009,1.8,613600.0,412300.0,67.2,1.2,613600.0,67300.0,11.0,1.3,...,481000.0,78.4,0.8,517300.0,19200.0,3.7,0.8,500200.0,19200.0,3.8
176,E47000010,1.6,717100.0,448800.0,62.6,0.9,717100.0,57600.0,8.0,1.1,...,507100.0,70.7,0.9,558100.0,34500.0,6.2,0.9,541000.0,34000.0,6.3
177,E47000011,2.0,510600.0,316100.0,61.9,1.2,510600.0,48100.0,9.4,1.4,...,366200.0,71.7,1.0,400900.0,19100.0,4.8,1.0,385300.0,19100.0,5.0

In [20]:
# NOMIS - annual population survey (detail)
url = 'https://www.nomisweb.co.uk/api/v01/dataset/NM_17_5.data.csv?geography=1811939329...1811939332,1811939334...1811939336,1811939338...1811939428,1811939436...1811939442,1811939768,1811939769,1811939443...1811939497,1811939499...1811939501,1811939503,1811939505...1811939507,1811939509...1811939517,1811939519,1811939520,1811939524...1811939570,1811939575...1811939599,1811939601...1811939628,1811939630...1811939634,1811939636...1811939647,1811939649,1811939655...1811939664,1811939667...1811939680,1811939682,1811939683,1811939685,1811939687...1811939704,1811939707,1811939708,1811939710,1811939712...1811939717,1811939719,1811939720,1811939722...1811939730,1925185537,1925185538,1925185540...1925185542,1925185572,1925185570,1925185545,1925185547,1925185548,1925185569,1925185552,1925185554,1925185556,1925185562,1925185573,1925185563...1925185567,1925185578...1925185581,1925185583,1925185586...1925185597&date=latestMINUS4&variable=197,202,1339...1348,558,564,1541...1565,72,74&measures=20599,21001,21002,21003'

df = pd.read_csv(url)
df = df[['DATE','GEOGRAPHY_NAME','GEOGRAPHY_CODE','GEOGRAPHY_TYPE','MEASURES_NAME','VARIABLE_NAME','OBS_VALUE']]
df = df[df['GEOGRAPHY_CODE'].str.contains("E")]
df['VARIABLE_NAME'].unique()

array(['% in employment working full-time - aged 16-64',
       '% in employment working part-time - aged 16-64',
       '% aged 16-64 in employment who work in - A:agriculture and fishing (SIC 2007)',
       '% aged 16-64 in employment who work in - B,D,E:energy and water (SIC 2007)',
       '% aged 16-64 in employment who work in - C:manufacturing (SIC 2007)',
       '% aged 16-64 in employment who work in - F:construction (SIC 2007)',
       '% aged 16-64 in employment who work in - G,I:distribution, hotels and restaurants (SIC 2007)',
       '% aged 16-64 in employment who work in - H,J:transport and communications (SIC 2007)',
       '% aged 16-64 in employment who work in - K-N:banking, finance and insurance (SIC 2007)',
       '% aged 16-64 in employment who work in - O-Q:public admin. education and health (SIC 2007)',
       '% aged 16-64 in employment who work in - R-U:other services (SIC 2007)',
       '% aged 16-64 in employment who work in - G-U:total services (SIC 2007)',
       '% of white - aged 16-64', '% of ethnic minority - aged 16-64',
       '% all in employment who are - 11: corporate managers and directors (SOC2010)',
       '% all in employment who are - 12: other managers and proprietors (SOC2010)',
       '% all in employment who are - 21: science, research, engineering and technology profs (SOC2010)',
       '% all in employment who are - 22: health professionals (SOC2010)',
       '% all in employment who are - 23: teaching and educational professionals (SOC2010)',
       '% all in employment who are - 24: business, media and public service professionals (SOC2010)',
       '% all in employment who are - 31: science, engineering and technology associate profs (SOC2010)',
       '% all in employment who are - 32: health & social care assoc. professionals (SOC2010)',
       '% all in employment who are - 33: protective service occupations (SOC2010)',
       '% all in employment who are - 34: culture, media and sports occupations (SOC2010)',
       '% all in employment who are - 35: business & public service assoc. professionals (SOC2010)',
       '% all in employment who are - 41: administrative occupations (SOC2010)',
       '% all in employment who are - 42: secretarial and related occupations (SOC2010)',
       '% all in employment who are - 51: skilled agricultural and related trades (SOC2010)',
       '% all in employment who are - 52: skilled metal, electrical and electronic trades (SOC2010)',
       '% all in employment who are - 53: skilled construction and building trades (SOC2010)',
       '% all in employment who are - 54: textiles, printing and other skilled trades (SOC2010)',
       '% all in employment who are - 61: caring personal service occupations (SOC2010)',
       '% all in employment who are - 62: leisure, travel and related personal service occs (SOC2010)',
       '% all in employment who are - 71: sales occupations (SOC2010)',
       '% all in employment who are - 72: customer service occupations (SOC2010)',
       '% all in employment who are - 81: process, plant and machines operatives (SOC2010)',
       '% all in employment who are - 82: transport & mobile machine drivers/operatives (SOC2010)',
       '% all in employment who are - 91: elementary trades and related occupations (SOC2010)',
       '% all in employment who are - 92: elementary administration & service occs (SOC2010)',
       '% in employment who are employees - aged 16-64',
       '% in employment who are self employed - aged 16-64'], dtype=object)

In [68]:
# NOMIS - annual survey of hours and earnings - workplace analysis
url = 'https://www.nomisweb.co.uk/api/v01/dataset/NM_99_1.data.csv?geography=1807745025...1807745028,1807745030...1807745032,1807745034...1807745083,1807745085,1807745282,1807745283,1807745086...1807745155,1807745157...1807745164,1807745166...1807745170,1807745172...1807745177,1807745179...1807745194,1807745196,1807745197,1807745199,1807745201...1807745218,1807745221,1807745222,1807745224,1807745226...1807745231,1807745233,1807745234,1807745236...1807745244,1811939329...1811939332,1811939334...1811939336,1811939338...1811939428,1811939436...1811939442,1811939768,1811939769,1811939443...1811939497,1811939499...1811939501,1811939503,1811939505...1811939507,1811939509...1811939517,1811939519,1811939520,1811939524...1811939570,1811939575...1811939599,1811939601...1811939628,1811939630...1811939634,1811939636...1811939647,1811939649,1811939655...1811939664,1811939667...1811939680,1811939682,1811939683,1811939685,1811939687...1811939704,1811939707,1811939708,1811939710,1811939712...1811939717,1811939719,1811939720,1811939722...1811939730&date=latestMINUS1&sex=8,9&item=2&pay=1,7&measures=20100,20701'

df_workplace = pd.read_csv(url)
df_workplace = df_workplace[['DATE','GEOGRAPHY_NAME','GEOGRAPHY_CODE','GEOGRAPHY_TYPE','SEX_NAME','PAY_NAME','MEASURES_NAME','OBS_VALUE']]
df_workplace = df_workplace[df_workplace['GEOGRAPHY_CODE'].str.contains("E")]
df_workplace_pivot = df_workplace.pivot_table(index=['GEOGRAPHY_CODE'], 
                    columns=['SEX_NAME','PAY_NAME','MEASURES_NAME'], 
                    values='OBS_VALUE').reset_index()
df_workplace_pivot.columns = df_workplace_pivot.columns.map('|'.join).str.strip('|')
df_workplace_pivot

,GEOGRAPHY_CODE,Full Time Workers|Annual pay - gross|Confidence,Full Time Workers|Annual pay - gross|Value,Full Time Workers|Weekly pay - gross|Confidence,Full Time Workers|Weekly pay - gross|Value,Part Time Workers|Annual pay - gross|Confidence,Part Time Workers|Annual pay - gross|Value,Part Time Workers|Weekly pay - gross|Confidence,Part Time Workers|Weekly pay - gross|Value
0,E06000001,7.9,26010.0,7.3,529.2,NaN,NaN,14.0,201.7
1,E06000002,7.7,26203.0,5.4,527.0,13.0,10910.0,9.8,208.7
2,E06000003,8.7,25846.0,6.0,497.9,NaN,NaN,13.0,176.8
3,E06000004,9.6,29049.0,4.7,574.2,NaN,NaN,7.8,199.5
4,E06000005,7.5,27888.0,5.7,514.3,9.7,10809.0,13.0,207.7
...,...,...,...,...,...,...,...,...,...
326,E10000029,3.4,28519.0,2.2,544.9,6.1,11005.0,4.1,194.8
327,E10000030,4.8,34795.0,2.2,664.1,7.5,10394.0,3.8,196.0
328,E10000031,5.1,30656.0,2.8,577.3,10.0,10337.0,4.4,195.2
329,E10000032,3.9,28992.0,2.6,568.4,6.0,9943.0,4.4,190.9
330,E10000034,4.3,27711.0,2.8,530.2,8.3,10338.0,4.7,190.4

In [69]:
# NOMIS - jobs density
url = 'https://www.nomisweb.co.uk/api/v01/dataset/NM_57_1.data.csv?geography=1807745025...1807745028,1807745030...1807745032,1807745034...1807745083,1807745085,1807745282,1807745283,1807745086...1807745155,1807745157...1807745164,1807745166...1807745170,1807745172...1807745177,1807745179...1807745194,1807745196,1807745197,1807745199,1807745201...1807745218,1807745221,1807745222,1807745224,1807745226...1807745231,1807745233,1807745234,1807745236...1807745244,1807745271...1807745281,1811939329...1811939332,1811939334...1811939336,1811939338...1811939428,1811939436...1811939442,1811939768,1811939769,1811939443...1811939497,1811939499...1811939501,1811939503,1811939505...1811939507,1811939509...1811939517,1811939519,1811939520,1811939524...1811939570,1811939575...1811939599,1811939601...1811939628,1811939630...1811939634,1811939636...1811939647,1811939649,1811939655...1811939664,1811939667...1811939680,1811939682,1811939683,1811939685,1811939687...1811939704,1811939707,1811939708,1811939710,1811939712...1811939717,1811939719,1811939720,1811939722...1811939730,1811939757...1811939767&date=latest&item=1,3&measures=20100'

df_density = pd.read_csv(url)
df_density = df_density[['DATE','GEOGRAPHY_NAME','GEOGRAPHY_CODE','GEOGRAPHY_TYPE','ITEM_NAME','MEASURES_NAME','OBS_VALUE']]
df_density = df_density[df_density['GEOGRAPHY_CODE'].str.contains("E")]
df_density_pivot = df_density.pivot_table(index=['GEOGRAPHY_CODE'], 
                    columns=['ITEM_NAME','MEASURES_NAME'], 
                    values='OBS_VALUE').reset_index()
df_density_pivot.columns = df_density_pivot.columns.map('|'.join).str.strip('|')
df_density_pivot

    GEOGRAPHY_CODE  Jobs density|Value  Total jobs|Value
0        E06000001                0.60           35000.0
1        E06000002                0.80           71000.0
2        E06000003                0.54           44000.0
3        E06000004                0.78           95000.0
4        E06000005                0.84           55000.0
..             ...                 ...               ...
328      E10000029                0.86          384000.0
329      E10000030                0.96          701000.0
330      E10000031                1.00          351000.0
331      E10000032                0.92          467000.0
332      E10000034                0.86          304000.0

[333 rows x 3 columns]

In [72]:
# NOMIS - Claimant count
url = 'https://www.nomisweb.co.uk/api/v01/dataset/NM_162_1.data.csv?geography=1807745025...1807745028,1807745030...1807745032,1807745034...1807745083,1807745085,1807745282,1807745283,1807745086...1807745155,1807745157...1807745164,1807745166...1807745170,1807745172...1807745177,1807745179...1807745194,1807745196,1807745197,1807745199,1807745201...1807745218,1807745221,1807745222,1807745224,1807745226...1807745231,1807745233,1807745234,1807745236...1807745244,1807745271...1807745281,1811939329...1811939332,1811939334...1811939336,1811939338...1811939428,1811939436...1811939442,1811939768,1811939769,1811939443...1811939497,1811939499...1811939501,1811939503,1811939505...1811939507,1811939509...1811939517,1811939519,1811939520,1811939524...1811939570,1811939575...1811939599,1811939601...1811939628,1811939630...1811939634,1811939636...1811939647,1811939649,1811939655...1811939664,1811939667...1811939680,1811939682,1811939683,1811939685,1811939687...1811939704,1811939707,1811939708,1811939710,1811939712...1811939717,1811939719,1811939720,1811939722...1811939730,1811939757...1811939767&date=latestMINUS27,latestMINUS26,latestMINUS25,latestMINUS24,latestMINUS23,latestMINUS22,latestMINUS21,latestMINUS20,latestMINUS19,latestMINUS18,latestMINUS17,latestMINUS16&gender=0&age=0&measure=1...4&measures=20100'

df_claim = pd.read_csv(url)
df_claim = df_claim[['DATE','GEOGRAPHY_NAME','GEOGRAPHY_CODE','GEOGRAPHY_TYPE','MEASURE_NAME','OBS_VALUE']]
df_claim = df_claim[df_claim['GEOGRAPHY_CODE'].str.contains("E")]
df_claim_pivot = df_claim.pivot_table(index=['GEOGRAPHY_CODE'], 
                    columns=['MEASURE_NAME'], 
                    values='OBS_VALUE').reset_index()
#df_claim_pivot.columns = df_claim_pivot.columns.map('|'.join).str.strip('|')
df_claim_pivot

MEASURE_NAME,GEOGRAPHY_CODE,Claimant count,Claimants as a proportion of economically active residents aged 16+,Claimants as a proportion of residents aged 16-64
0,E06000001,3651.818182,8.536364,6.336364
1,E06000002,4909.545455,7.981818,5.581818
2,E06000003,3287.272727,5.536364,4.036364
3,E06000004,4877.272727,5.172727,4.018182
4,E06000005,2826.818182,5.454545,4.363636
...,...,...,...,...
328,E10000029,9595.454545,2.572727,2.154545
329,E10000030,6890.000000,1.063636,0.936364
330,E10000031,6799.545455,2.281818,1.936364
331,E10000032,8387.727273,1.881818,1.654545
332,E10000034,7218.181818,2.427273,2.036364

In [73]:
# London Min Wage
url = 'https://opendata.arcgis.com/datasets/79c993a10398400bb025a00849a43dc0_0.csv'

df_london = pd.read_csv(url)
df_london['london_min_wage'] = np.where((df_london['CTY19NM'] == 'Inner London') | (df_london['CTY19NM'] == 'Outer London'), True, False)
df_london

,FID,LAD19CD,LAD19NM,CTY19CD,CTY19NM,london_min_wage
0,1,E07000120,Hyndburn,E10000017,Lancashire,False
1,2,E07000121,Lancaster,E10000017,Lancashire,False
2,3,E07000122,Pendle,E10000017,Lancashire,False
3,4,E07000123,Preston,E10000017,Lancashire,False
4,5,E07000124,Ribble Valley,E10000017,Lancashire,False
...,...,...,...,...,...,...
256,257,E07000115,Tonbridge and Malling,E10000016,Kent,False
257,258,E07000116,Tunbridge Wells,E10000016,Kent,False
258,259,E07000117,Burnley,E10000017,Lancashire,False
259,260,E07000118,Chorley,E10000017,Lancashire,False
260,261,E07000119,Fylde,E10000017,Lancashire,False

In [ ]:
# Merge to master file
merged_master = pd.merge(df_population_pivot, df_survey_pivot, on=['GEOGRAPHY_CODE'] ,how="left")
merged_master
merged_master.reset_index().to_csv('data/master_file.csv', index=False)