In [2]:
import pandas as pd
import numpy as np
import requests
import json

In [37]:
# NOMIS API - Population estimates - local authority based by five year age band
url = 'https://www.nomisweb.co.uk/api/v01/dataset/NM_31_1.data.csv?geography=1820327937...1820328318&date=latest&sex=7&age=0,22,25&measures=20100,20301&signature=NPK-be81606366125733ff591b:0x040ed4bb17cc73b3e5e08779f332feb87f777ac1'

df_population = pd.read_csv(url)

In [46]:
df_population = df_population[['DATE','GEOGRAPHY_NAME','GEOGRAPHY_CODE','GEOGRAPHY_TYPE','AGE_NAME','MEASURES_NAME','OBS_VALUE']]
df_population = df_population[df_population['GEOGRAPHY_CODE'].str.contains("E")]
df_population_pivot = df_population.pivot_table(index=['GEOGRAPHY_CODE'], 
                    columns=['AGE_NAME','MEASURES_NAME'], 
                    values='OBS_VALUE').reset_index()
df_population_pivot.columns = df_population_pivot.columns.map('|'.join).str.strip('|')
df_population_pivot

,GEOGRAPHY_CODE,Aged 16 - 64|Percent,Aged 16 - 64|Value,Aged 65 and over|Percent,Aged 65 and over|Value,All ages|Percent,All ages|Value
0,E06000001,61.4,57500.0,19.4,18200.0,100.0,93700.0
1,E06000002,62.5,88200.0,16.4,23100.0,100.0,141000.0
2,E06000003,59.3,81300.0,22.6,31000.0,100.0,137200.0
3,E06000004,61.6,121500.0,18.5,36400.0,100.0,197300.0
4,E06000005,60.6,64700.0,20.5,21900.0,100.0,106800.0
...,...,...,...,...,...,...,...
312,E09000029,63.4,130800.0,15.3,31600.0,100.0,206300.0
313,E09000030,73.4,238300.0,6.4,20900.0,100.0,324700.0
314,E09000031,67.2,186200.0,10.8,30000.0,100.0,277000.0
315,E09000032,72.4,238500.0,9.6,31600.0,100.0,329700.0
316,E09000033,70.6,184600.0,12.5,32600.0,100.0,261300.0

In [43]:
# NOMIS - annual population survey
url = 'https://www.nomisweb.co.uk/api/v01/dataset/NM_17_5.data.csv?geography=1820327937...1820328307&date=latestMINUS4&variable=248,249,111,1487,1488,1537,290,720...722,335,344,18,45,558,564,197,202,434...437,1558,72,74,84&measures=20599,21001,21002,21003&signature=NPK-be81606366125733ff591b:0x6f9c2f37c9dfe740d3b6bb526a225b04981a766e'

df_survey = pd.read_csv(url)

In [45]:
df_survey = df_survey[['DATE','GEOGRAPHY_NAME','GEOGRAPHY_CODE','GEOGRAPHY_TYPE','MEASURES_NAME','VARIABLE_NAME','OBS_VALUE']]
df_survey = df_survey[df_survey['GEOGRAPHY_CODE'].str.contains("E")]
df_survey_pivot = df_survey.pivot_table(index=['GEOGRAPHY_CODE'], 
                    columns=['VARIABLE_NAME','MEASURES_NAME'], 
                    values='OBS_VALUE').reset_index()
df_survey_pivot.columns = df_survey_pivot.columns.map('|'.join).str.strip('|')
df_survey_pivot.reset_index()

,index,GEOGRAPHY_CODE,% aged 16-64 who are employees|Confidence,% aged 16-64 who are employees|Denominator,% aged 16-64 who are employees|Numerator,% aged 16-64 who are employees|Variable,% aged 16-64 who are self employed|Confidence,% aged 16-64 who are self employed|Denominator,% aged 16-64 who are self employed|Numerator,% aged 16-64 who are self employed|Variable,...,Economic activity rate - aged 16-64|Numerator,Economic activity rate - aged 16-64|Variable,Employment rate - aged 16-64|Confidence,Employment rate - aged 16-64|Denominator,Employment rate - aged 16-64|Numerator,Employment rate - aged 16-64|Variable,Unemployment rate - aged 16-64 |Confidence,Unemployment rate - aged 16-64 |Denominator,Unemployment rate - aged 16-64 |Numerator,Unemployment rate - aged 16-64 |Variable
0,0,E06000001,3.3,56300.0,33700.0,59.8,1.8,56300.0,4400.0,7.8,...,41200.0,73.2,3.2,56300.0,38100.0,67.6,2.1,41200.0,3100.0,7.6
1,1,E06000002,3.2,88400.0,48200.0,54.6,1.8,88400.0,7300.0,8.3,...,60100.0,68.0,3.1,88400.0,55600.0,62.9,2.0,60100.0,4500.0,7.5
2,2,E06000003,3.3,80500.0,48700.0,60.5,1.7,80500.0,5500.0,6.8,...,57500.0,71.4,3.2,80500.0,54300.0,67.4,1.8,57500.0,3200.0,5.5
3,3,E06000004,3.4,120600.0,76900.0,63.8,1.8,120600.0,8800.0,7.3,...,91500.0,75.9,3.2,120600.0,86000.0,71.3,1.9,91500.0,5500.0,6.0
4,4,E06000005,3.1,63600.0,41400.0,65.0,1.8,63600.0,5600.0,8.8,...,50500.0,79.4,2.8,63600.0,47200.0,74.2,1.8,50500.0,3300.0,6.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311,311,E09000029,4.2,131800.0,84900.0,64.4,3.0,131800.0,18300.0,13.9,...,110100.0,83.5,3.6,131800.0,103500.0,78.5,2.3,110100.0,6600.0,6.0
312,312,E09000030,4.8,235600.0,141500.0,60.0,3.1,235600.0,25900.0,11.0,...,174900.0,74.2,4.4,235600.0,168200.0,71.4,2.2,174900.0,6700.0,3.8
313,313,E09000031,5.1,188900.0,112800.0,59.7,3.7,188900.0,27800.0,14.7,...,150700.0,79.8,4.6,188900.0,140600.0,74.4,3.0,150700.0,10100.0,6.7
314,314,E09000032,4.7,235800.0,154200.0,65.4,3.5,235800.0,35100.0,14.9,...,197800.0,83.9,3.9,235800.0,189800.0,80.5,2.1,197800.0,8000.0,4.0
315,315,E09000033,5.3,172200.0,97200.0,56.4,3.8,172200.0,25600.0,14.9,...,129200.0,75.1,4.8,172200.0,122800.0,71.3,2.7,129200.0,6500.0,5.0

In [49]:
# NOMIS - annual survey of hours and earnings - workplace analysis
url = 'https://www.nomisweb.co.uk/api/v01/dataset/NM_99_1.data.csv?geography=1820327937...1820328307&date=latestMINUS1&sex=7...9&item=2&pay=1,7&measures=20100,20701&signature=NPK-be81606366125733ff591b:0xf7da857b959a5cb57353190fa7936dfcab634697'

df_workplace = pd.read_csv(url)
df_workplace = df_workplace[['DATE','GEOGRAPHY_NAME','GEOGRAPHY_CODE','GEOGRAPHY_TYPE','SEX_NAME','PAY_NAME','MEASURES_NAME','OBS_VALUE']]
df_workplace = df_workplace[df_workplace['GEOGRAPHY_CODE'].str.contains("E")]
df_workplace_pivot = df_workplace.pivot_table(index=['GEOGRAPHY_CODE'], 
                    columns=['SEX_NAME','PAY_NAME','MEASURES_NAME'], 
                    values='OBS_VALUE').reset_index()
df_workplace_pivot.columns = df_workplace_pivot.columns.map('|'.join).str.strip('|')
df_workplace_pivot

,GEOGRAPHY_CODE,Full Time Workers|Annual pay - gross|Confidence,Full Time Workers|Annual pay - gross|Value,Full Time Workers|Weekly pay - gross|Confidence,Full Time Workers|Weekly pay - gross|Value,Part Time Workers|Annual pay - gross|Confidence,Part Time Workers|Annual pay - gross|Value,Part Time Workers|Weekly pay - gross|Confidence,Part Time Workers|Weekly pay - gross|Value,Total|Annual pay - gross|Confidence,Total|Annual pay - gross|Value,Total|Weekly pay - gross|Confidence,Total|Weekly pay - gross|Value
0,E06000001,7.9,26010.0,7.3,529.2,NaN,NaN,14.0,201.7,14.0,20999.0,7.9,425.9
1,E06000002,7.7,26203.0,5.4,527.0,13.0,10910.0,9.8,208.7,5.2,22177.0,6.1,420.7
2,E06000003,8.7,25846.0,6.0,497.9,NaN,NaN,13.0,176.8,16.0,20241.0,8.7,387.4
3,E06000004,9.6,29049.0,4.7,574.2,NaN,NaN,7.8,199.5,9.7,23693.0,5.7,450.5
4,E06000005,7.5,27888.0,5.7,514.3,9.7,10809.0,13.0,207.7,7.7,23658.0,5.5,453.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,E09000029,7.2,32999.0,6.0,615.8,13.0,9979.0,9.1,205.0,10.0,25596.0,7.9,499.0
313,E09000030,6.9,45914.0,3.6,872.8,11.0,11391.0,8.7,237.1,5.5,41934.0,2.4,794.7
314,E09000031,7.9,30664.0,6.6,607.1,15.0,9446.0,8.8,199.6,7.6,25030.0,7.4,481.2
315,E09000032,5.7,34814.0,4.1,670.8,NaN,NaN,5.5,220.2,8.1,29144.0,4.5,574.9
316,E09000033,4.3,43753.0,1.8,792.6,12.0,13077.0,5.4,223.8,4.3,40136.0,1.7,728.3

In [48]:
# NOMIS - jobs density
url = 'https://www.nomisweb.co.uk/api/v01/dataset/NM_57_1.data.csv?geography=1820327937...1820328318&date=latest&item=1,3&measures=20100&signature=NPK-be81606366125733ff591b:0x70612ce5fbfa17433bcee945bf28f28a577360ea'

df_density = pd.read_csv(url)
df_density = df_density[['DATE','GEOGRAPHY_NAME','GEOGRAPHY_CODE','GEOGRAPHY_TYPE','ITEM_NAME','MEASURES_NAME','OBS_VALUE']]
df_density = df_density[df_density['GEOGRAPHY_CODE'].str.contains("E")]
df_density_pivot = df_density.pivot_table(index=['GEOGRAPHY_CODE'], 
                    columns=['ITEM_NAME','MEASURES_NAME'], 
                    values='OBS_VALUE').reset_index()
df_density_pivot.columns = df_density_pivot.columns.map('|'.join).str.strip('|')
df_density_pivot

    GEOGRAPHY_CODE  Jobs density|Value  Total jobs|Value
0        E06000001                0.60           35000.0
1        E06000002                0.80           71000.0
2        E06000003                0.54           44000.0
3        E06000004                0.78           95000.0
4        E06000005                0.84           55000.0
..             ...                 ...               ...
312      E09000029                0.64           84000.0
313      E09000030                1.43          342000.0
314      E09000031                0.49           92000.0
315      E09000032                0.64          153000.0
316      E09000033                4.35          803000.0

[317 rows x 3 columns]

In [50]:
# NOMIS - Claimant count
url = 'https://www.nomisweb.co.uk/api/v01/dataset/NM_162_1.data.csv?geography=1820327937...1820328318&date=latestMINUS24&gender=0&age=0&measure=1...4&measures=20100&signature=NPK-be81606366125733ff591b:0x99686c2f446d8780bff53420853b01198f62baad'

df_claim = pd.read_csv(url)
df_claim = df_claim[['DATE','GEOGRAPHY_NAME','GEOGRAPHY_CODE','GEOGRAPHY_TYPE','MEASURE_NAME','OBS_VALUE']]
df_claim = df_claim[df_claim['GEOGRAPHY_CODE'].str.contains("E")]
df_claim_pivot = df_claim.pivot_table(index=['GEOGRAPHY_CODE'], 
                    columns=['MEASURE_NAME'], 
                    values='OBS_VALUE').reset_index()
#df_claim_pivot.columns = df_claim_pivot.columns.map('|'.join).str.strip('|')
df_claim_pivot

MEASURE_NAME,GEOGRAPHY_CODE,Claimant count,Claimants as a proportion of economically active residents aged 16+,Claimants as a proportion of residents aged 16-64
0,E06000001,3855.0,9.0,6.7
1,E06000002,4850.0,7.9,5.5
2,E06000003,3270.0,5.5,4.0
3,E06000004,4805.0,5.1,4.0
4,E06000005,2760.0,5.3,4.3
...,...,...,...,...
312,E09000029,3115.0,2.7,2.4
313,E09000030,7345.0,4.1,3.1
314,E09000031,5385.0,3.5,2.9
315,E09000032,4245.0,2.0,1.8
316,E09000033,3430.0,2.6,1.9

In [61]:
# London Min Wage
url = 'https://opendata.arcgis.com/datasets/3ba3daf9278f47daba0f561889c3521a_0.csv'

df_london = pd.read_csv(url)
df_london['london_min_wage'] = np.where(df_london['RGN19NM'] == 'London', True, False)
df_london.drop(list(df_london.filter(['FID','LAD19NM'])), axis = 1, inplace = True)

       LAD19CD    RGN19CD        RGN19NM  london_min_wage
0    E09000001  E12000007         London             True
1    E06000054  E12000009     South West            False
2    E09000002  E12000007         London             True
3    E09000003  E12000007         London             True
4    E09000004  E12000007         London             True
..         ...        ...            ...              ...
312  E07000171  E12000004  East Midlands            False
313  E07000172  E12000004  East Midlands            False
314  E07000173  E12000004  East Midlands            False
315  E07000174  E12000004  East Midlands            False
316  E07000175  E12000004  East Midlands            False

[317 rows x 4 columns]

In [57]:
url = 'https://opendata.arcgis.com/datasets/c3ddcd23a15c4d7985d8b36f1344b1db_0.csv'
df_index = pd.read_csv(url)

df_index = df_index[df_index['LAD19CD'].str.contains("E")]

SyntaxError: invalid syntax (<ipython-input-57-64ac1c37cdf8>, line 6)

In [56]:
# Merge to master file
merged_master = pd.merge(df_index, df_london, on=['LAD19CD'], how="left")
merged_master = pd.merge(merged_master, df_survey_pivot, left_on=['LAD19CD'], right_on=['GEOGRAPHY_CODE'], how="left")
merged_master = pd.merge(merged_master, df_population_pivot, left_on=['LAD19CD'], right_on=['GEOGRAPHY_CODE'], how="left")
merged_master = pd.merge(merged_master, df_density_pivot, left_on=['LAD19CD'], right_on=['GEOGRAPHY_CODE'], how="left")
merged_master = pd.merge(merged_master, df_workplace_pivot, left_on=['LAD19CD'], right_on=['GEOGRAPHY_CODE'], how="left")
merged_master = pd.merge(merged_master, df_claim_pivot, left_on=['LAD19CD'], right_on=['GEOGRAPHY_CODE'], how="left")
merged_master.drop(list(merged_master.filter(regex = 'GEOGRAPHY_CODE')), axis = 1, inplace = True)
merged_master.reset_index().to_csv('data/master_file.csv', index=False)